* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1a1a1a;
  color: #f1f1f1;
  font-family: 'Manrope', sans-serif;
}

input, button {
  background: #1a1a1a;
  border: none;
  border-radius: 4px;
  color: #f1f1f1;
  font-family: 'Manrope', sans-serif;

  margin: 0.8rem 0;
  padding: 0.5rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.8rem 0;

  background: #242424;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo img {
  width: 24px;
}

.logo span {
  font-weight: 700;
}

header p {
  font-size: 0.85rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.form {
  background: #242424;
  border-radius: 5px;

  padding: 2rem;
}

.form button {
  border: 1px solid #FF630B;
  cursor: pointer;  
}

.form button:hover {
  color: #121212;
  background: #FF630B;
}

#results {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;

  list-style: none;
}

#results li {
  border: 1px solid #FF630B;
  border-radius: 4px;
  background: #242424;


  padding: 0.7rem;
  width: 8rem;
  height: 6rem;
}

#results li span {
  border-bottom: 1px solid;
}

@media (max-width: 425px) {
  header {
    flex-direction: column;
    gap: 1rem;
  }
}